/*  your css code here. If applicable */
body{
background-color:#f5f5f5;
}
.Testimonial-container{
	background-color:#f5f5f5;
	padding:20px;
	display:flex;
	flex-direction:column;
	gap:20px;
}
.Testimonial{
	background-color:white;
	border:1px solid #CCC;
	padding:15px;
	
}
.Author{
text-align:right;
	font-style:italic;
}
